#
# Project-Specific
#

# tsconfig.json copied from the project root
/tsconfig.json

# User-provided assets
/src/app/user-assets/

# Types for environment variables used on Vite
/src/env.d.ts

#
# Cloudflare / Wrangler
#
.wrangler
.dev.vars

#
# Other tools
#
.env
