#
# Project-Specific
#

# Built files
dist/

# User-provided assets
/workspaces/idp/src/user-assets/
#
# System
#

# Logs
logs/
*.log

# PIDs
*.pid
*.seed
*.pid.lock
pids

# File manager configs
.directory
Thumbs.db
.DS_Store

#
# JavaScript
#

# NPM / Yarn
node_modules/
.npm/
.yarn-integrity

# This repository use pnpm as a dependency manager
package-lock.json
yarn.lock

# lock files should not be generated under directories of each packages
/workspaces/**/pnpm-lock.yaml

# Cloudflare / Wrangler
.wrangler
.dev.vars

# Others
.node_repl_history
.eslintcache
